@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 22.4px;
}
.header__wrapper .header__nav {
  margin: 0 auto;
}
.header__wrapper .header__nav .header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
}
.header__wrapper .header__nav .header__list .header__link-first {
  color: #F54748;
}
.header__wrapper .header__nav .header__list .header_item {
  list-style-type: none;
}
.header__wrapper .header__nav .header__list .header_link {
  text-decoration: none;
  color: #353535;
}
.header__wrapper .header__nav .header__list .header_link:hover {
  color: #F54748;
}
.header__wrapper .header__nav-right .header__list-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px;
  list-style-type: none;
}
.header__wrapper .header__nav-right .header__list-right .header_button {
  width: 100px;
  height: 45px;
  border: 0;
  color: white;
  background: #F54748;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.header__wrapper .header__nav-right .header__list-right .header_button:hover {
  cursor: pointer;
  background: #e30c0e;
}
.header__wrapper .header__nav-right .header__list-right .header_button .header_login {
  position: relative;
  top: 2px;
  padding-right: 5px;
}

/* header style end  */
/* discounts style start  */
.discounts {
  background: url(../../assets/menu/images/discounts.png) no-repeat top;
}

.discounts__buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.discounts__button {
  font-size: 24px;
  line-height: 60px;
  text-transform: capitalize;
}

.discounts__button:first-child {
  margin-top: 39.5px;
}

.discounts__button {
  border: none;
  background: none;
  text-align: left;
  padding-left: 68px;
}
.discounts__button:hover {
  cursor: pointer;
  color: #F54748;
  border-radius: 50px;
}

.discounts__button-text {
  text-decoration: none;
  color: #353535;
}

.button-one {
  background-image: url(../../assets/menu/icons/burger.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.button-two {
  background-image: url(../../assets/menu/icons/pizza.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.button-three {
  background-image: url(../../assets/menu/icons/Japanese.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.button-four {
  background-image: url(../../assets/menu/icons/sweets.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.button-five {
  background-image: url(../../assets/menu/icons/meat.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.button-six {
  background-image: url(../../assets/menu/icons/cocktails.png);
  background-repeat: no-repeat;
  background-position: 1%;
}

.discounts__wrapper {
  max-width: 1300px;
  margin-left: auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discounts__title {
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  margin-top: 33.5px;
}

.discounts__button-sale {
  width: 100%;
  height: 90px;
  text-align: left;
  background: #F2F2F0;
  border-radius: 35px;
  border: none;
  display: flex;
  align-items: center;
}
.discounts__button-sale:hover {
  background: #cecec7;
  cursor: pointer;
}

.discounts__sale {
  padding-left: 38px;
  padding-right: 18px;
}

.discounts__arrow {
  margin-left: auto;
  padding-right: 26.57px;
}

/* discounts style end  */
/* eat style start  */
.eat__wrapper {
  max-width: 1280px;
  margin-left: auto;
}

.burger__arrows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.burger__title {
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
}

.burger__arrow-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FAFAFA;
}
.burger__arrow-left:hover {
  background: #F54748;
  cursor: pointer;
}

.burger__arrow-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FAFAFA;
  margin-left: 20px;
}
.burger__arrow-right:hover {
  background: #F54748;
  cursor: pointer;
}

.arrows {
  display: block;
  margin: 0 auto;
  padding-top: 21px;
}

.burger__arrow {
  display: flex;
  flex-wrap: wrap;
}

.burger {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.burger .eat__mac {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/mac.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.burger .eat__mac .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.burger .eat__mac .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.burger .eat__burger {
  transition: transform 1s;
}
.burger .eat__burger:hover {
  transform: scale(1.05);
}
.burger .eat__bk {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/bk.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.burger .eat__bk .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.burger .eat__bk .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.burger .eat__kfc {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/kfc.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.burger .eat__kfc .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.burger .eat__kfc .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.burger .eat__taco {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/taco.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.burger .eat__taco .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.burger .eat__taco .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

.pizza__aroows {
  margin-top: 45px;
}

.pizza {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.pizza .eat__dodo {
  display: flex;
  align-items: flex-end;
  width: 580px;
  height: 225px;
  background: url(../../assets/menu/images/dodo.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.pizza .eat__dodo .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.pizza .eat__dodo .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.pizza .eat__burger {
  transition: transform 1s;
}
.pizza .eat__burger:hover {
  transform: scale(1.05);
}
.pizza .eat__dominos {
  display: flex;
  align-items: flex-end;
  width: 680px;
  height: 225px;
  background: url(../../assets/menu/images/dominos.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.pizza .eat__dominos .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.pizza .eat__dominos .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

.Japanese {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.Japanese .eat__TokiNY {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/tokiny.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.Japanese .eat__TokiNY .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__TokiNY .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__burger {
  transition: transform 1s;
}
.Japanese .eat__burger:hover {
  transform: scale(1.05);
}
.Japanese .eat__ewoki {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/Ewoki.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.Japanese .eat__ewoki .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__ewoki .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__soup {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/Soup.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.Japanese .eat__soup .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__soup .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__ronin {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/RONIN.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.Japanese .eat__ronin .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__ronin .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__masu {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/masu.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.Japanese .eat__masu .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__masu .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__miyako {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/miyako.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.Japanese .eat__miyako .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__miyako .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.Japanese .eat__soho {
  display: flex;
  align-items: flex-end;
  width: 480px;
  height: 225px;
  background: url(../../assets/menu/images/soho.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.Japanese .eat__soho .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.Japanese .eat__soho .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

.sweets {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.sweets .eat__vanilla {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/Vanilla.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.sweets .eat__vanilla .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__vanilla .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__burger {
  transition: transform 1s;
}
.sweets .eat__burger:hover {
  transform: scale(1.05);
}
.sweets .eat__cupcake {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/Cupcake.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.sweets .eat__cupcake .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__cupcake .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__recipe {
  display: flex;
  align-items: flex-end;
  width: 480px;
  height: 225px;
  background: url(../../assets/menu/images/recipe.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.sweets .eat__recipe .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__recipe .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__alcreme {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/Alcreme.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.sweets .eat__alcreme .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__alcreme .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__rolln {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/Rolln.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.sweets .eat__rolln .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__rolln .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__marconi {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/Marconi.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.sweets .eat__marconi .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__marconi .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.sweets .eat__cafe {
  display: flex;
  align-items: flex-end;
  width: 280px;
  height: 225px;
  background: url(../../assets/menu/images/Cafe.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.sweets .eat__cafe .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.sweets .eat__cafe .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

.meat {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.meat .eat__meat {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/Meat.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.meat .eat__meat .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__meat .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__burger {
  transition: transform 1s;
}
.meat .eat__burger:hover {
  transform: scale(1.05);
}
.meat .eat__chicken {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/chicken.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.meat .eat__chicken .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__chicken .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__panski {
  display: flex;
  align-items: flex-end;
  width: 480px;
  height: 225px;
  background: url(../../assets/menu/images/Panski.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.meat .eat__panski .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__panski .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__broward {
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 225px;
  background: url(../../assets/menu/images/Broward.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.meat .eat__broward .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__broward .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__fish {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/fish.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.meat .eat__fish .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__fish .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__fm {
  display: flex;
  align-items: flex-end;
  width: 480px;
  height: 225px;
  background: url(../../assets/menu/images/fm.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.meat .eat__fm .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__fm .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.meat .eat__bunchery {
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 225px;
  background: url(../../assets/menu/images/Bunchery.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.meat .eat__bunchery .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.meat .eat__bunchery .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

.cocktails {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cocktails .eat__kinley {
  display: flex;
  align-items: flex-end;
  width: 380px;
  height: 225px;
  background: url(../../assets/menu/images/kinley.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
}
.cocktails .eat__kinley .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.cocktails .eat__kinley .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.cocktails .eat__burger {
  transition: transform 1s;
}
.cocktails .eat__burger:hover {
  transform: scale(1.05);
}
.cocktails .eat__coca {
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 225px;
  background: url(../../assets/menu/images/coca.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.cocktails .eat__coca .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.cocktails .eat__coca .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.cocktails .eat__fanta {
  display: flex;
  align-items: flex-end;
  width: 480px;
  height: 225px;
  background: url(../../assets/menu/images/fanta.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.cocktails .eat__fanta .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.cocktails .eat__fanta .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}
.cocktails .eat__pepsi {
  display: flex;
  align-items: flex-end;
  width: 180px;
  height: 225px;
  background: url(../../assets/menu/images/pepsi.png) no-repeat;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.cocktails .eat__pepsi .eat__mac-wrap {
  padding-left: 40px;
  padding-bottom: 30px;
}
.cocktails .eat__pepsi .eat__link {
  text-decoration: none;
  color: #FFFFFF;
}

/* eat style end  */
/* footer style start  */
.footer {
  margin-top: 75px;
  margin-bottom: 50px;
}

.footer__title {
  max-width: 372px;
  margin-top: 32px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 45px;
  margin-top: 52px;
  margin-bottom: 0;
}

.footer__list-fafo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.footer__list-fafo:hover {
  color: red;
}

.footer__item-fafo {
  list-style: none;
}
.footer__item-fafo .footer__links-fafo {
  text-decoration: none;
  color: #353535;
  line-height: 30px;
}
.footer__item-fafo:first-child {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.footer__item-fafo:nth-child(2), .footer__item-fafo:nth-child(3) {
  margin-bottom: 30px;
}
.footer__item-fafo:first-child a:hover {
  color: #737373;
}
.footer__item-fafo:nth-child(2) a:hover, .footer__item-fafo:nth-child(3) a:hover, .footer__item-fafo:nth-child(4) a:hover {
  color: #F54748;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
}/*# sourceMappingURL=style.css.map */