@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

$color-red: #F54748;
$color-black: #353535;
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    color: $color-black; 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.wrapper{
    max-width: 1580px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-left: auto;
    margin-top: 22.4px;
    .header__nav{
       margin: 0 auto;
      
        .header__list{
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            align-items: center;
            
            .header__link-first{
                color: $color-red;
            }

            .header_item{
                list-style-type: none;
            }
            .header_link{
                text-decoration: none;
                color: $color-black; 
               
                &:hover{
                    color: $color-red;
                }
            }       
        }
    }
    .header__nav-right{
        .header__list-right{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 43px;
            list-style-type: none;

            .header_button{
                width: 100px;
                height: 45px;
                border: 0;
                color: white;
                background: $color-red;
                border-radius: 25px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin: 0 auto;
               
                &:hover{
                    cursor: pointer;
                    background: darken( $color-red ,  15%);
                }
                .header_login{
                   position: relative;
                   top: 2px;
                   padding-right: 5px;
                }
            }
        }
    }
}
.nav-right__search:hover > .nav-right__search-txt{
    width: 240px;
    border-radius: 50px;
    background: #F9F9F9;
    padding-left: 5px;
}
.nav-right__search-txt{
    position: absolute;
    right: 21%;
    border:none;
    background: none;
    outline:none;
    color: $color-black;
    font-size:20px;
    transition: 0.4s;
    line-height: 27px;
    width: 0;
}
/* header style end  */

/* contact style start  */
.contact{
    margin-top: 18.5px;
    display: flex;
    flex-wrap: wrap;
    background: #F9F9F9;
    border-radius: 50px;
    align-items: center;
}
.contact__information{
    margin: 15px 100px 15px 30px;
    position: relative;
}
.contact__nav{
    position: absolute;
    top: 267px;
}
.contact__discription{
    position: absolute;
    top: 0px;
    margin-left: 54px;
}
.contact__nav{
    margin-left: 54px;
}
.contact__title{
    margin-top: 40px;
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.contact__subtitle{
    max-width: 456px;
    color: #FFFFFF;
    opacity: 0.7;
}
.contact__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
.contact__link{
    text-decoration: none;
    color: #FFFFFF;
}
.contact__item-one{
    list-style-type: none;
    list-style-image: url(../../assets/contact/icons/tele.png);
    padding-left: 21px;
}
.contact__item-two{
    list-style-type: none;
    list-style-image: url(../../assets/contact/icons/mail.png);
    padding-left: 21px;
}
.contact__item-three{
    list-style-type: none;
    list-style-image: url(../../assets/contact/icons/map.png);
    padding-left: 21px;
}
.contact__item{
    list-style: none;
    text-align: center;
    padding-top: 6px;
    &:hover{
        width: 34px;
        height: 28px;
        background: $color-red;
        border-radius: 10px;
    }
}
.contact__list-two{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 0;
    padding-left: 0;
    margin-left: 54px;
    margin-bottom: 30px;
}
.contact__form-info{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    
}
.contact__form-input{
    width: 300px;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 9px;
    outline:none;
    color: $color-black;
    background: #F9F9F9;
}
.contact__form-input::-webkit-outer-spin-button,
.contact__form-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.contact__form-title{
    color: #000;
    margin-bottom: 20px;

    &:hover{
        color: $color-red;
        cursor:default;
    }
}
.contact__form-title_two{
    color: #000;
    opacity: 0.3;
    margin-bottom: 20px;
    &:hover{
        color: $color-red;
        cursor:default;
    }
}
.contact__form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
}
.contact__form-title-last{
    color: #000;

    &:hover{
        color: $color-red;
        cursor:default;
    }
}
.contact__form-input-last{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 9px;
    outline:none;
    color: $color-black;
    background: #F9F9F9;
}
.contact__form-button{
    width: 280px;
    height: 60px;
    background: $color-red;
    border-radius: 10px;
    border: 0;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: auto;

    &:hover{
        cursor: pointer;
        background: darken( $color-red ,  15%);
    }
}
/* contact style end  */

/* footer style start  */
.footer{
    margin-top: 75px;
    margin-bottom: 50px;
}
.footer__title{
    max-width: 372px;
    margin-top: 32px;
}
.footer__list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 45px;
    margin-top: 52px;
    margin-bottom: 0;
}
.footer__list-fafo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    margin: 0;

    &:hover{
        color: red;
    }
}
.footer__item-fafo{
    list-style: none;
    
    .footer__links-fafo{
        text-decoration: none;
        color: $color-black;
        line-height: 30px;
    }
    &:first-child{
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }
    &:nth-child(2), &:nth-child(3){
        margin-bottom: 30px;
    }
    &:first-child a:hover{
        color: lighten( #000,  45%);
    }
    &:nth-child(2) a:hover,&:nth-child(3) a:hover,&:nth-child(4) a:hover{
        color: $color-red;
    }
}
.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
}