@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 22.4px;
}
.header__wrapper .header__nav {
  margin: 0 auto;
}
.header__wrapper .header__nav .header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
}
.header__wrapper .header__nav .header__list .header__link-first {
  color: #F54748;
}
.header__wrapper .header__nav .header__list .header_item {
  list-style-type: none;
}
.header__wrapper .header__nav .header__list .header_link {
  text-decoration: none;
  color: #353535;
}
.header__wrapper .header__nav .header__list .header_link:hover {
  color: #F54748;
}
.header__wrapper .header__nav-right .header__list-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px;
  list-style-type: none;
}
.header__wrapper .header__nav-right .header__list-right .header_button {
  width: 100px;
  height: 45px;
  border: 0;
  color: white;
  background: #F54748;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.header__wrapper .header__nav-right .header__list-right .header_button:hover {
  cursor: pointer;
  background: #e30c0e;
}
.header__wrapper .header__nav-right .header__list-right .header_button .header_login {
  position: relative;
  top: 2px;
  padding-right: 5px;
}

.nav-right__search:hover > .nav-right__search-txt {
  width: 240px;
  border-radius: 50px;
  background: #F9F9F9;
  padding-left: 5px;
}

.nav-right__search-txt {
  position: absolute;
  right: 21%;
  border: none;
  background: none;
  outline: none;
  color: #353535;
  font-size: 20px;
  transition: 0.4s;
  line-height: 27px;
  width: 0;
}

/* header style end  */
/* intro style start  */
.intro {
  height: 750px;
  background: url(../../assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__title {
  margin: 0;
  padding-top: 173.4px;
  max-width: 646px;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  text-transform: capitalize;
  color: #353535;
  margin-bottom: 53px;
}

.intro__subtitle {
  max-width: 581px;
  line-height: 30px;
  margin-bottom: 97px;
}

.intro__button {
  width: 220px;
  height: 75px;
  background: #F54748;
  box-shadow: 0px 10px 30px rgba(250, 27, 27, 0.25);
  border-radius: 50px;
  border: none;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.intro__button:hover {
  cursor: pointer;
  background: #e30c0e;
}

.button__video {
  background: none;
  box-shadow: none;
  color: #353535;
  margin-left: 20px;
}
.button__video:hover {
  cursor: pointer;
  background: none;
}
.button__video .button__watch {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  top: 13px;
  margin-right: 17px;
}

.intro__arrow {
  position: relative;
  left: 331px;
  top: 15px;
}

/* intro style end  */
/* serve style start  */
.serve__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 158px;
  margin-bottom: 28px;
  text-align: center;
  color: #F54748;
}

.serve__subtitle {
  max-width: 766px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 65px;
}

.serve__card-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-transform: capitalize;
  color: #353535;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 21px;
}

.serve__card-subtitle {
  max-width: 348px;
  line-height: 30px;
  text-align: center;
}

.serve_people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.people_three {
  display: block;
  margin: 0 auto;
  height: 328px;
}

/* serve style end  */
/* menu style start  */
.menu__title {
  margin-top: 135px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
}

.menu__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  color: #000000;
  max-width: 550px;
}

.menu__arrow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__arrow-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FAFAFA;
}
.menu__arrow-left:hover {
  background: #F54748;
  cursor: pointer;
}

.menu__arrow-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FAFAFA;
  margin-left: 20px;
}
.menu__arrow-right:hover {
  background: #F54748;
  cursor: pointer;
}

.menu_arrows {
  display: flex;
  flex-wrap: wrap;
}

.arrows {
  display: block;
  margin: 0 auto;
  padding-top: 21px;
}

.menu__left-list {
  list-style-type: none;
}

.menu__left-button {
  width: 221px;
  height: 75px;
  border: none;
  background: none;
  margin-bottom: 20px;
}
.menu__left-button:hover, .menu__left-button:active, .menu__left-button:focus {
  cursor: pointer;
  color: white;
  border-radius: 50px;
  background: #F54748;
}

.button-one:hover, .button-one:active, .button-one:focus {
  background-image: url(../../assets/icons/burger.png);
  background-repeat: no-repeat;
  background-position: 15%;
}

.button-two:hover, .button-two:active, .button-two:focus {
  background-image: url(../../assets/icons/pizza.png);
  background-repeat: no-repeat;
  background-position: 20%;
}

.button-three:hover, .button-three:active, .button-three:focus {
  background-image: url(../../assets/icons/sushi.png);
  background-repeat: no-repeat;
  background-position: 7%;
}

.button-four:hover, .button-four:active, .button-four:focus {
  background-image: url(../../assets/icons/cupcake.png);
  background-repeat: no-repeat;
  background-position: 14%;
}

.button-five:hover, .button-five:active, .button-five:focus {
  background-image: url(../../assets/icons/meat.png);
  background-repeat: no-repeat;
  background-position: 7%;
}

.line {
  margin-top: 17px;
  height: 450px;
  border: 3px solid #EDEDED;
  border-radius: 50px;
}

.menu__pizza {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 62px;
}

.hidden {
  display: none;
}

.pizza1, .whopper, .philadelphia, .donut, .steak {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.menu__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__japanese, .menu__sweets, .menu__burger, .menu__pizza-slide, .menu__meat {
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.menu__cover {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.whopper {
  background: url(../../assets/images/whopper.png);
  width: 380px;
  height: 480px;
}

.pablo {
  background: url(../../assets/images/pablo.png);
  width: 380px;
  height: 480px;
}

.tasty {
  background: url(../../assets/images/tasty.png);
  width: 380px;
  height: 480px;
}

.pizza1 {
  background: url(../../assets/images/pizza1.png);
  width: 380px;
  height: 480px;
}

.pizza2 {
  background: url(../../assets/images/pizza2.png);
  width: 380px;
  height: 480px;
}

.pizza3 {
  background: url(../../assets/images/pizza3.png);
  width: 380px;
  height: 480px;
}

.philadelphia {
  background: url(../../assets/images/philadelphia.png);
  width: 380px;
  height: 480px;
}

.california {
  background: url(../../assets/images/california.png);
  width: 380px;
  height: 480px;
}

.makizushi {
  background: url(../../assets/images/makizushi.png);
  width: 380px;
  height: 480px;
}

.donut {
  background: url(../../assets/images/donut.png);
  width: 380px;
  height: 480px;
}

.cupcake {
  background: url(../../assets/images/cupcake.png);
  width: 380px;
  height: 480px;
}

.cake {
  background: url(../../assets/images/cake.png);
  width: 380px;
  height: 480px;
}

.steak {
  background: url(../../assets/images/steak.png);
  width: 380px;
  height: 480px;
}

.fried__fish {
  background: url(../../assets/images/fried__fish.png);
  width: 380px;
  height: 480px;
}

.steak2 {
  background: url(../../assets/images/steak2.png);
  width: 380px;
  height: 480px;
}

.steak__burger {
  background: url(../../assets/images/steak__burger.png);
  width: 380px;
  height: 480px;
}

.meat {
  background: url(../../assets/images/meat.png);
  width: 380px;
  height: 480px;
}

.cheese {
  background: url(../../assets/images/cheesee.png);
  width: 380px;
  height: 480px;
}

.romana {
  background: url(../../assets/images/romana.png);
  width: 380px;
  height: 480px;
}

.fritta {
  background: url(../../assets/images/fritta.png);
  width: 380px;
  height: 480px;
}

.palla {
  background: url(../../assets/images/all-palla.png);
  width: 380px;
  height: 480px;
}

.nigirizushi {
  background: url(../../assets/images/nigirizushi.png);
  width: 380px;
  height: 480px;
}

.gunkan {
  background: url(../../assets/images/gunkan.png);
  width: 380px;
  height: 480px;
}

.hosomaki {
  background: url(../../assets/images/hosomaki.png);
  width: 380px;
  height: 480px;
}

.donutions {
  background: url(../../assets/images/donutions.png);
  width: 380px;
  height: 480px;
}

.cronat {
  background: url(../../assets/images/cronat.png);
  width: 380px;
  height: 480px;
}

.berliner {
  background: url(../../assets/images/berliner.png);
  width: 380px;
  height: 480px;
}

.gold {
  background: url(../../assets/images/goldfish.png);
  width: 380px;
  height: 480px;
}

.meat__wine {
  background: url(../../assets/images/meatwine.png);
  width: 380px;
  height: 480px;
}

.fish {
  background: url(../../assets/images/fried-fish.png);
  width: 380px;
  height: 480px;
}

.whopper {
  transition: transform 1s;
}

.whopper:hover {
  transform: scale(1.05);
}

.pizza1 {
  transition: transform 1s;
}

.pizza1:hover {
  transform: scale(1.05);
}

.philadelphia {
  transition: transform 1s;
}

.philadelphia:hover {
  transform: scale(1.05);
}

.donut {
  transition: transform 1s;
}

.donut:hover {
  transform: scale(1.05);
}

.steak {
  transition: transform 1s;
}

.steak:hover {
  transform: scale(1.05);
}

.menu__right-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
  text-transform: capitalize;
}

.menu__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.menu__right-subtitle {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

.menu__one {
  margin-left: 30px;
  margin-bottom: 20px;
}

.menu__subtitle-link {
  text-decoration: none;
  color: white;
}
.menu__subtitle-link .arrow-right-white {
  padding-left: 20px;
}

.menu__price-dollar {
  color: #FFC727;
  font-size: 20px;
}

/* menu style end  */
/* say style start  */
.say_sections {
  margin-top: 86.9px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.say__title {
  margin-top: 0;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
}

.say__subtitle {
  max-width: 550px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  color: #000000;
}

.say__discription {
  margin-top: 32px;
  max-width: 751px;
  line-height: 30px;
  text-transform: capitalize;
}

.say__right {
  margin-left: 78px;
}

.say {
  margin-bottom: 128px;
}

/* say style end  */
/* customers style start  */
.customers__arrow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customers__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
}

.customers_arrows {
  display: flex;
  flex-wrap: wrap;
}

.customers__review {
  width: 513.3px;
  height: 375px;
  background: #FAFAFA;
  border-radius: 25px;
}

.customers__review-text {
  max-width: 465px;
  line-height: 30px;
  margin: 0 auto;
  font-weight: 500;
  color: #000000;
}

.customers__review-data {
  margin-left: 24.1px;
  margin-right: 24.1px;
}

.customers__review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.customers__name-star {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.customers__review-name {
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}

.customers__reviews {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 37px;
}

.customers__slide {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.customers {
  margin-bottom: 180px;
}

/* customers style end  */
/* footer style start  */
.footer__title {
  max-width: 372px;
  margin-top: 32px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 45px;
  margin-top: 52px;
  margin-bottom: 0;
}

.footer__list-fafo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.footer__list-fafo:hover {
  color: red;
}

.footer__item-fafo {
  list-style: none;
}
.footer__item-fafo .footer__links-fafo {
  text-decoration: none;
  color: #353535;
  line-height: 30px;
}
.footer__item-fafo:first-child {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.footer__item-fafo:nth-child(2), .footer__item-fafo:nth-child(3) {
  margin-bottom: 30px;
}
.footer__item-fafo:first-child a:hover {
  color: #737373;
}
.footer__item-fafo:nth-child(2) a:hover, .footer__item-fafo:nth-child(3) a:hover, .footer__item-fafo:nth-child(4) a:hover {
  color: #F54748;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
}

.footer {
  margin-bottom: 50px;
}

/* footer style end  *//*# sourceMappingURL=style.css.map */