@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #353535;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 22.4px;
}
.header__wrapper .header__nav {
  margin: 0 auto;
}
.header__wrapper .header__nav .header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
}
.header__wrapper .header__nav .header__list .header__link-first {
  color: #F54748;
}
.header__wrapper .header__nav .header__list .header_item {
  list-style-type: none;
}
.header__wrapper .header__nav .header__list .header_link {
  text-decoration: none;
  color: #353535;
}
.header__wrapper .header__nav .header__list .header_link:hover {
  color: #F54748;
}
.header__wrapper .header__nav-right .header__list-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px;
  list-style-type: none;
}
.header__wrapper .header__nav-right .header__list-right .header_button {
  width: 100px;
  height: 45px;
  border: 0;
  color: white;
  background: #F54748;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.header__wrapper .header__nav-right .header__list-right .header_button:hover {
  cursor: pointer;
  background: #e30c0e;
}
.header__wrapper .header__nav-right .header__list-right .header_button .header_login {
  position: relative;
  top: 2px;
  padding-right: 5px;
}

/* header style end  */
/* fafo style start  */
.fafo__about {
  max-width: 1083px;
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  color: #000000;
  margin-top: 86px;
  margin-bottom: 75px;
}

.fafo__red {
  color: #F54748;
}

.fafo__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fafo__images-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}

/* fafo style end  */
/* Benefits style start  */
.Benefits {
  margin-top: 98px;
}

.benefits__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
  text-align: center;
}

.benefits__description {
  display: flex;
}

.people__pizza {
  width: 100%;
}

.Benefits__list {
  line-height: 30px;
  letter-spacing: 0.2em;
  color: #000000;
  margin-top: 44.58px;
  margin-bottom: 0;
}

.Benefits__item-one {
  list-style-type: none;
  list-style-image: url(../../assets/about__us/icons/delivery.png);
  padding-left: 51px;
  padding-bottom: 45px;
}

.Benefits__item-two {
  list-style-type: none;
  list-style-image: url(../../assets/about__us/icons/responsible.png);
  padding-left: 51px;
  padding-bottom: 45px;
}

.Benefits__item-three {
  list-style-type: none;
  list-style-image: url(../../assets/about__us/icons/speed.png);
  padding-left: 51px;
  padding-bottom: 45px;
}

.Benefits__item-four {
  list-style-type: none;
  list-style-image: url(../../assets/about__us/icons/orderin.png);
  padding-left: 51px;
  padding-bottom: 45px;
}

.Benefits__item-five {
  list-style-type: none;
  list-style-image: url(../../assets/about__us/icons/courier.png);
  padding-left: 51px;
  padding-bottom: 45px;
}

/* Benefits style end  */
/* little style start  */
.little__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
  text-align: center;
  margin-top: 58px;
}

.little__subtitle {
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 75px;
}

.little__city {
  width: 100%;
}

/* little style end  */
/* team style start  */
.team {
  margin-top: 82.97px;
}

.team__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
  text-align: center;
  margin-bottom: 45px;
}

.team__wrapper {
  max-width: 280px;
  height: 313px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.team__subtitle {
  padding: 18px 0px 17px 24px;
  color: #353535;
  font-size: 12px;
  line-height: 15px;
  width: 131px;
}

.team__name {
  padding-left: 24px;
  padding-bottom: 15px;
  max-width: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  text-transform: capitalize;
  color: #000000;
}

.team__dicription {
  padding-top: 18px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  width: 134px;
}

.team__wrapper-full {
  display: flex;
  gap: 20px;
}

.team__wrapper:last-child {
  overflow: hidden;
}

.team__input {
  margin-top: 44px;
}

.team__input-range {
  -webkit-appearance: none;
  background: #E9E9E9;
  width: 100%;
  height: 1px;
  outline: none;
  display: block;
  position: relative;
  border-radius: 5px;
}

.team__input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #F54748;
  width: 111px;
  height: 3px;
  cursor: pointer;
  border-radius: 50px;
}

/* team style end  */
/* values style start  */
.values {
  margin-top: 83px;
}

.values__title {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #F54748;
  text-align: center;
}

.values__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.values__name {
  font-weight: 600;
  line-height: 30px;
  color: #F54748;
}

.values__subtitle {
  max-width: 700px;
  line-height: 30px;
  color: #000000;
  margin-top: 38px;
  margin-left: 77.73px;
}

.values__wrapper-img {
  margin-top: 60px;
}

.wrapper-right {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.name-right {
  text-align: right;
}

.subtitle-right {
  margin: 0;
}

.name-left {
  margin-left: 37px;
}

.subtitle-left {
  margin-left: 115px;
}

/* values style end  */
/* footer style start  */
.footer {
  margin-top: 185.7px;
  margin-bottom: 50px;
}

.footer__title {
  max-width: 372px;
  margin-top: 32px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 45px;
  margin-top: 52px;
  margin-bottom: 0;
}

.footer__list-fafo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
}
.footer__list-fafo:hover {
  color: red;
}

.footer__item-fafo {
  list-style: none;
}
.footer__item-fafo .footer__links-fafo {
  text-decoration: none;
  color: #353535;
  line-height: 30px;
}
.footer__item-fafo:first-child {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.footer__item-fafo:nth-child(2), .footer__item-fafo:nth-child(3) {
  margin-bottom: 30px;
}
.footer__item-fafo:first-child a:hover {
  color: #737373;
}
.footer__item-fafo:nth-child(2) a:hover, .footer__item-fafo:nth-child(3) a:hover, .footer__item-fafo:nth-child(4) a:hover {
  color: #F54748;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
}/*# sourceMappingURL=style.css.map */